{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock%}
{% if form is defined %}
    {% form_theme form 'Form/bulma_horizontal_layout.html.twig' %}
{% endif %}
{% block content %}
    {% if verify_database != 'app-db-created-success' %}
        <div class="container has-text-centered">
            <span class="title">{{'app-db-non-exists'|trans}}</span>&nbsp;
            <a href="{{path('config_system')}}" id="btn_create_db" class="button is-warning">
                <span class="icon is-small">
                    <i class="fa fa-database"></i>
                </span>&nbsp;
                {{'app-create-db-button-text'|trans}}
            </a>
        </div>
    {% else %}
        {% if app_configured %}
            <div class="container">
                <h1 class="title">
                    {{'app-main-title-welcome'|trans}}
                </h1>
                <h2 class="subtitle">
                    {{'app-main-subtitle-welcome'|trans}}
                </h2>
            </div>

            <section>
                <b-dropdown>
                    <button class="button is-primary" slot="trigger">
                        <span>Click me!</span>
                        <b-icon icon="caret-down"></b-icon>
                    </button>

                    <b-dropdown-item>Action</b-dropdown-item>
                    <b-dropdown-item>Another action</b-dropdown-item>
                    <b-dropdown-item>Something else</b-dropdown-item>
                </b-dropdown>

                <b-dropdown hoverable>
                    <button class="button is-info" slot="trigger">
                        <span>Hover me!</span>
                        <b-icon icon="caret-down"></b-icon>
                    </button>

                    <b-dropdown-item>Action</b-dropdown-item>
                    <b-dropdown-item>Another action</b-dropdown-item>
                    <b-dropdown-item>Something else</b-dropdown-item>
                </b-dropdown>

                <b-dropdown disabled>
                    <button class="button" slot="trigger">
                        <span>Disabled</span>
                        <b-icon icon="caret-down"></b-icon>
                    </button>

                    <b-dropdown-item>Action</b-dropdown-item>
                    <b-dropdown-item>Another action</b-dropdown-item>
                    <b-dropdown-item>Something else</b-dropdown-item>
                </b-dropdown>

                <b-dropdown>
                    <p class="tag is-success" slot="trigger">
                        Custom trigger
                    </p>

                    <b-dropdown-item>Action</b-dropdown-item>
                    <b-dropdown-item>Another action</b-dropdown-item>
                    <b-dropdown-item>Something else</b-dropdown-item>
                </b-dropdown>
            </section>

        </div>

    {% else %}
        {% if form is defined %}
            <div class="container">
                <div class="column is-6 is-offset-3">
                    <h1 class="title">
                        {{'app-config-incomplete-title'|trans}}
                    </h1>
                    <h2 class="subtitle">
                        {{'app-config-incomplete-subtitle'|trans}}
                        <a href="{{path('options')}}" class="button is-medium">{{'app-menu-options-text'|trans}}</a>
                    </h2>
                    <div class="box">
                        {{form_start(form)}}
                        {{form_end(form)}}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}

{% block init_modal_db %}{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}