<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <link rel="manifest" href="{{ asset('build/manifest.json') }}">
        {% endif %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />
        {% block stylesheets %}{% endblock %}
        {% block stylesheets_secondary %}{% endblock %}
    {% block javascript_header %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    <section class="hero is-primary is-bold is-fullheight">
        <div class="hero-head">
        {{ include('default/navbar.html.twig') }}
        </div>
        <div class="hero-body" id="vueApp">
        {% block content %}

        {% endblock %}
        </div>
        {{ include('default/footer.html.twig') }}
    </section>
{% endblock %}
{% block modals %}{% endblock %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endif %}
{% block javascripts %}

{% endblock %}
</body>
</html>
