<div class="navbar-item has-dropdown is-hoverable is-mega">
    <div class="navbar-link">
        {{'app-menu-sales-text'|trans}}
    </div>
    <div id="blogDropdown" class="navbar-dropdown " data-style="width: 18rem;">
        <div class="container is-fluid">
            <div class="columns">
                <div class="column has-text-grey">
                    <h1 class="title title-dark is-6 is-mega-menu-title">{{'app-menu-sales-basics-text'|trans}}</h1>
                    <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                        <div class="navbar-content">
                            <p>
                                <small class="has-text-info">03 Aug 2017</small>
                            </p>
                            <p>New feature: list of tags</p>
                        </div>
                    </a>
                    <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                        <div class="navbar-content">
                            <p>
                                <small class="has-text-info">03 Aug 2017</small>
                            </p>
                            <p>New feature: list of tags</p>
                        </div>
                    </a>
                    <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                        <div class="navbar-content">
                            <p>
                                <small class="has-text-info">03 Aug 2017</small>
                            </p>
                            <p>New feature: list of tags</p>
                        </div>
                    </a>
                </div>
                <div class="column has-text-grey">
                    <h1 class="title title-dark is-6 is-mega-menu-title">{{'app-menu-sales-sales-text'|trans}}</h1>
                    <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                        <div class="navbar-content">

                            <p>
                                <small class="has-text-info">03 Aug 2017</small>
                            </p>
                            <p>New feature: list of tags</p>
                        </div>
                    </a>
                    <a class="navbar-item " href="/documentation/overview/start/">
            Overview
          </a>
                    <a class="navbar-item " href="http://bulma.io/documentation/modifiers/syntax/">
            Modifiers
          </a>
                    <a class="navbar-item " href="http://bulma.io/documentation/columns/basics/">
            Columns
          </a>
                </div>
                <div class="column has-text-grey">
                    <h1 class="title title-dark is-6 is-mega-menu-title">{{'app-menu-sales-management-text'|trans}}</h1>
                    <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                        <div class="navbar-content">
                            <p>
                                <small class="has-text-info">03 Aug 2017</small>
                            </p>
                            <p>New feature: list of tags</p>
                        </div>
                    </a>
                    <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                        <div class="navbar-content">
                            <p>
                                <small class="has-text-info">03 Aug 2017</small>
                            </p>
                            <p>New feature: list of tags</p>
                        </div>
                    </a>
                    <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                        <div class="navbar-content">
                            <p>
                                <small class="has-text-info">03 Aug 2017</small>
                            </p>
                            <p>New feature: list of tags</p>
                        </div>
                    </a>

                </div>
                <div class="column has-text-grey">
                    <h1 class="title title-dark is-6 is-mega-menu-title">{{'app-menu-sales-reports-text'|trans}}</h1>
                    <a class="navbar-item " href="/documentation/overview/start/">
                        Overview
                    </a>
                    <a class="navbar-item " href="http://bulma.io/documentation/modifiers/syntax/">
                        Modifiers
                    </a>
                    <a class="navbar-item " href="http://bulma.io/documentation/columns/basics/">
                        Columns
                    </a>
                    <a class="navbar-item " href="http://bulma.io/documentation/layout/container/">
                        Layout
                    </a>
                </div>
            </div>
        </div>

        <hr class="navbar-divider">
        <div class="navbar-item has-text-grey">
            <div class="navbar-content">
                <div class="level is-mobile">
                    <div class="level-left">
                        <div class="level-item">
                            <strong>Stay up to date!</strong>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <a class="button bd-is-rss is-small" href="http://bulma.io/atom.xml">
                                <span class="icon is-small">
                                    <i class="fa fa-rss"></i>
                                </span>
                                <span>Subscribe</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>